
body {
    margin: 0;
    font-family: PingFang SC, Helvetica Neue, Arial, sans-serif,Avenir;
    background: #f5f5f5;
}
a {
    text-decoration: none;
    outline:none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
* {
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
img{
    display: block;
}
p{
    margin: 0px;
}
::-webkit-input-placeholder {
    color: #e6e6e6;
  }
  ::-moz-input-placeholder {
    color: #e6e6e6;
  }
  ::-ms-input-placeholder {
    color: #e6e6e6;
  }