body {
    margin: 0;
    font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
    background: #f5f5f5;
}
a {
    text-decoration: none;
}
* {
    box-sizing: border-box;
}
ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
img{
    display: block;
}
p{
    margin: 0px;
}